<div class="page-header">
  <h1>Settings</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Consumer Key:</strong></dt>
  <dd><%= @setting.consumer_key %></dd>
  <dt><strong>Consumer Secret:</strong></dt>
  <dd><%= @setting.consumer_secret %></dd>
  <dt><strong>Prompa URL:</strong></dt>
  <dd><%= @setting.prompa_url %></dd>
  <dt><strong>Prompa Token:</strong></dt>
  <dd><%= @setting.prompa_token %></dd>
  <dt><strong>API Token:</strong></dt>
  <dd><%= @setting.api_token %></dd>
</dl>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_settings_path, :class => 'btn btn-default' %>

