<%= form_for @customer, :html => { :class => "form-horizontal customer" } do |f| %>

    <% if @customer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:first_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:last_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :date_of_birth, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_of_birth, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:date_of_birth]) %>
  </div>
  <div class="control-group">
    <%= f.label :home_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :home_address, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:home_address]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:email]) %>
  </div>
  <div class="control-group">
    <%= f.label :mobile_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mobile_number, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:mobile_number]) %>
  </div>
  <div class="control-group">
    <%= f.label :employment_basis, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :employment_basis, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:employment_basis]) %>
  </div>
  <div class="control-group">
    <%= f.label :classification, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :classification, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:classification]) %>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gender, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:gender]) %>
  </div>
  <div class="control-group">
    <%= f.label :pay_adjustment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pay_adjustment, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:pay_adjustment]) %>
  </div>
  <div class="control-group">
    <%= f.label :xeroemployeeid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :xeroemployeeid, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:xeroemployeeid]) %>
  </div>
  <div class="control-group">
    <%= f.label :preferred_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :preferred_name, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:preferred_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :is_supervisor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :is_supervisor, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:is_supervisor]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            customers_path, :class => 'btn btn-default' %>

<% end %>
