<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:xero_id) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:date_of_birth) %></th>
      <th><%= model_class.human_attribute_name(:home_address) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:mobile_number) %></th>
      <th><%= model_class.human_attribute_name(:employment_basis) %></th>
      <th><%= model_class.human_attribute_name(:classification) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:pay_adjustment) %></th>
      <th><%= model_class.human_attribute_name(:xeroemployeeid) %></th>
      <th><%= model_class.human_attribute_name(:preferred_name) %></th>
      <th><%= model_class.human_attribute_name(:is_supervisor) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.id, customer_path(customer) %></td>
        <td><%= customer.xero_id %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.date_of_birth %></td>
        <td><%= customer.home_address %></td>
        <td><%= customer.email %></td>
        <td><%= customer.mobile_number %></td>
        <td><%= customer.employment_basis %></td>
        <td><%= customer.classification %></td>
        <td><%= customer.gender %></td>
        <td><%= customer.pay_adjustment %></td>
        <td><%= customer.xeroemployeeid %></td>
        <td><%= customer.preferred_name %></td>
        <td><%= customer.is_supervisor %></td>
        <td><%=l customer.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_customer_path(customer), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      customer_path(customer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Xero Users:</h2>

  <% for contact in @contacts %>
    <dl class="dl-horizontal">
      <dt><strong>Id:</strong></dt> <dd><%= contact.id %></dd>
      <dt><strong>Name:</strong></dt> <dd><%= contact.name %></dd>
    </dl>
  <% end %>
<br>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_path,
            :class => 'btn btn-primary' %>
